---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'
import '../../styles/events.css'
import '../../styles/question.css'
import { Image } from 'astro:assets';

import FblaLogo from '../../images/fbla-logo.png'
import { IoClose } from "react-icons/io5";
---

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>
    <div>
        <div class="event-title">
            COMMUNITY SERVICE OPPORTUNITIES
        </div>
        <div class="divider-row">
            <hr class="title-divider"/>
        </div>
    </div>

    <div class="find-event-container">
        <div class="find-event-container-title">Community service events will be posted soon!</div>
    </div>
    <!--
    <div class="info-container">
        <h1 class="info-title">Dates</h1>
        <div class="info-list">
            <div class="info-list-item">
                Dates: March 10-17, 2024
            </div>
        </div>
    </div>

    <div class="info-container">
        <h1 class="info-title">Description</h1>
        <div class="info-description">
            <ul>
                <li>
                    Donate baby and hygienic products!
                </li>
                <li>
                    Diapers/Pull ups
                </li>
                <li>
                    Bottles
                </li>
                <li>
                    Feeding Supplies
                </li>
                <li>
                    Food and Formula
                </li>
                <li>
                    Health/Hygiene Items (Baby Shampoo, Lotion, Wipes, Etc.)
                </li>
                <li>
                    Period Products
                </li>
                <li>
                    Toys/Books
                </li>
                <li>
                    Blankets
                </li>
                <li>
                    All Donations are Donated to Helping Mama’s
                </li>
                <li>
                    3 Items = 1 Hour
                </li>
            </ul>
        </div>
    </div>

    <div class="info-container">
        <h1 class="info-title">Location</h1>
        <div class="info-list">
            <div class="info-list-item">
                Drop Items Off in Commander Schenk's Room (302)!
            </div>
        </div>
    </div>
     -->
    
</body>
</html>
