---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'
import '../../styles/events.css'
import '../../styles/question.css'
import { Image } from 'astro:assets';

import FblaLogo from '../../images/fbla-logo.png'
import { IoClose } from "react-icons/io5";
---

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>
    <div>
        <div class="event-title">
            NATIONAL LEADERSHIP CONFERENCE (NLC)
        </div>
        <div class="divider-row">
            <hr class="title-divider"/>
        </div>
    </div>
    
    <div class="info-box-container">
        <a class="info-box" style="position: relative;">
            Registration Will Open After SLC Results
        </a>
    </div>

    <div class="info-container">
        <h1 class="info-title">About NLC</h1>
        <p class="info-description">
            At the National Leadership Conference, members can compete in many events, attend general sessions and keynotes, watch the national officer campaigns, and see national recognitions and competitive event winners. Members who placed in the top 4 for their event at the SLC qualify for the NLC. If members qualify for nationals in multiply events, they can only choose one event to compete in at nationals. 
        </p>
    </div>

    <div class="info-container">
        <h1 class="info-title">Pricing & Dates</h1>
        <div class="info-list">
            <div class="info-list-item">
                Dates: June 28 - July 2, 2025
            </div>
            <div class="info-list-item">
                Pricing: See Cmdr.

            </div>
           
            
        </div>
    </div>

    <div class="info-container">
        <h1 class="info-title">Location</h1>
        <div class="info-list">
            <div class="info-list-item">
                Anaheim Convention Center
            </div>
            <div class="info-list-item">
                800 W Katella Ave, Anaheim, CA 92802
            </div>
        </div>
    </div>
</body>
</html>
