body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

.footer {
    background-color: #222;
    color: white;
    height: 300px;
}

.footer-content {
    margin: auto;
    text-align: center;
    display: flex;
    padding: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-text{
    text-wrap: wrap;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    list-style: none;
    
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-extra{
    padding-left: 30px;
    padding-top:20px;
}