---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'
import '../../styles/events.css'
import '../../styles/question.css'
import { Image } from 'astro:assets';

import FblaLogo from '../../images/fbla-logo.png'
import { IoClose } from "react-icons/io5";
---

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>
    
    <button id="question-button">
        <Image src={FblaLogo} width="100" height="100" alt="FBLA Logo" />
    </button>

    <script>
        const qButton = document.getElementById('question-button');
        const qClose = document.getElementById("question-close");
        qButton?.addEventListener("click", () => {
            const questionContainer = document.getElementsByClassName("fixed-question")[0];
            questionContainer.classList.toggle("hidden");
        })
        qClose?.addEventListener("click", () => {
            const questionContainer = document.getElementsByClassName("fixed-question")[0];
            questionContainer.classList.toggle("hidden");
        })
    </script>
    
    <div class="fixed-question hidden">
        <div id="question-close">
            <IoClose />
        </div>
        <div class="q-title">
            You've found a logo, answer this question!
        </div>
        <div class="q-question">
            Which state has the largest FBLA chapter?
        </div>
    </div>
</body>
