---
import Navbar from '../../../components/Navbar'
import '../../../styles/global.css'
import '../../../styles/events.css'
import '../../../styles/forms.css'

---


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>

    <div>
        <div class="event-title">
            SLC - Straight to State Testing Events
        </div>
        <div class="divider-row">
            <hr class="title-divider"/>
        </div>
    </div>

    <div class="find-event-container">
        <div class="find-event-container-title">Having Trouble Deciding Which Competitive Event To Do?</div>
        <a href="https://storage.googleapis.com/articulate-courses/BAA%20Contributor/Choose%20Your%20Event%20(FBLA)%20-%20Storyline%20output/story.html" class="find-event-container-link" target="_blank">Click Here for Help Choosing Your Competitive Event</a>
    </div>

    <div class="info-box-container">
        <a class="info-box" style="position: relative;">
            Registration Due: 12/22
        </a>
    </div>

    <iframe width="640px" height="500px" src="https://forms.office.com/r/1kgz5503u7" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>

    <div class="info-box-container">

    </div>

</body>
</html>
