---
import Forms from '/Users/alaynalee/FBLA website/src/components/formsPayments/forms.jsx';
import Footer from '/Users/alaynalee/FBLA website/src/components/home/footer.jsx';
import Navbar from '/Users/alaynalee/FBLA website/src/components/home/navbar.jsx';
---

<head>
    <title>FBLA Website</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<Navbar client:load/>
<Forms form="membership" client:load/>
<Footer client:load/>
