---
import Forms from '../../components/formsPayments/forms.jsx';
import Footer from '../../components/home/footer';
import Navbar from '../../components/home/navbar';
---

<head>
    <title>FBLA Website</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<Navbar client:load/>
<Forms form="membership" client:load/>
<Footer client:load/>
