---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'
import '../../styles/events.css'
import '../../styles/question.css'
---

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>
    <div>
        <div class="event-title">
            REGION LEADERSHIP CONFERENCE (RLC)
        </div>
        <div class="divider-row">
            <hr class="title-divider"/>
        </div>
    </div>

    <div class="find-event-container">
        <div class="find-event-container-title">Having Trouble Deciding Which Competitive Event To Do?</div>
        <a href="https://storage.googleapis.com/articulate-courses/BAA%20Contributor/Choose%20Your%20Event%20(FBLA)%20-%20Storyline%20output/story.html" class="find-event-container-link" target="_blank">Click Here for Help Choosing Your Competitive Event</a>
    </div>

    <div class="info-box-container">
        <div class="info-box" style="position: relative;">
            <!-- If you are in one of Commander Schenk's classes (IST, APCS50, APCSA, Cloud, Embedded), please DO NOT fill out the following form.<br/><br/>
            Registration Form (Due 11/06): <a href = "https://forms.office.com/r/pCEGMEABUi">Click Here</a> -->
            Registration has closed: Go to SLC signups for a straight-to-state event
        </div>
    </div>

    <div class="info-container">
        <h1 class="info-title">About RLC</h1>
        <p class="info-description">
            FBLA members can compete at a variety of competitive events at the Region Leadership Conference each year to qualify for the State Leadership Conference (SLC). For more information about the competitive events offered at RLC, see the competition events guideline.
        </p>
    </div>

    <div class="info-container">
        <h1 class="info-title">Pricing & Dates</h1>
        <div class="info-list">
            <div class="info-list-item">
                School Runoffs: Week of November 11
            </div>
            <div class="info-list-item">
                Pre-judge Submissions Due Date: November 17th
            </div>
            <div class="info-list-item">
                In-Person RLC: January 21, 2024 (After School)
            </div>
            <div class="info-list-item">
                Attending - TBD
            </div>
            <div class="info-list-item">
                Not Attending - TBD
            </div>
        </div>
    </div>

    <div class="info-container">
        <h1 class="info-title">Location</h1>
        <div class="info-list">
            <div class="info-list-item">
                Alpharetta High School
            </div>
            <div class="info-list-item">
                3595 Webb Bridge Rd, Alpharetta, GA 30005
            </div>
        </div>
    </div>
</body>
</html>
