---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'
import '../../styles/events.css'
import '../../styles/question.css'
import { Image } from 'astro:assets';

import FblaLogo from '../../images/fbla-logo.png'
import { IoClose } from "react-icons/io5";
---

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>

    <div>
        <div class="event-title">
            PAST CHAPTER MEETINGS
        </div>
        <div class="divider-row">
            <hr class="title-divider"/>
        </div>
    </div>

    <div class="find-event-container">
       
    </div>

    <div class="info-box-container">
        <a class="info-box" style="position: relative;">
            Next Chapter Meeting: 11/12/2024
        </a>
    </div>

    <!-- Meeting Slides: Source in /public folder -->
    <div class="info-container">
        <h1 class="info-title">November 12th, 2024</h1>
        <embed src="/November_2024_Meeting.pdf" type="application/pdf" width="100%" height="600px" />
    </div>

    <div class="info-container">
        <h1 class="info-title">October 29th, 2024</h1>
        <embed src="/October_2024_Meeting.pdf" type="application/pdf" width="100%" height="600px" />
    </div>

    <div class="info-container">
        <h1 class="info-title">September 24th, 2024</h1>
        <embed src="/September_2024_Meeting.pdf" type="application/pdf" width="100%" height="600px" />
    </div>

    <div class="info-container">
        <h1 class="info-title">August 29th, 2024</h1>
        <embed src="/August_2024_Meeting.pdf" type="application/pdf" width="100%" height="600px" />
    </div>
    <!-- Add /public to the start of the pdf directory when testing locally -->


</body>
</html>
