---
import Forms from '../components/formsPayments/forms.jsx';
import Footer from '../components/home/footer.jsx';
import Navbar from '../components/home/navbar.jsx';
---

<head>
    <title>FBLA Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<Navbar client:load/>
<Forms form="calendar" client:load/>
<Footer client:load/>
