---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'
import '../../styles/events.css'
import '../../styles/question.css'
---

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>
    <div>
        <div class="event-title">
            STATE LEADERSHIP CONFERENCE (SLC)
        </div>
        <div class="divider-row">
            <hr class="title-divider"/>
        </div>
    </div>

    <div class="find-event-container">
        <div class="find-event-container-title">Having Trouble Deciding Which Competitive Event To Do?</div>
        <a href="https://storage.googleapis.com/articulate-courses/BAA%20Contributor/Choose%20Your%20Event%20(FBLA)%20-%20Storyline%20output/story.html" class="find-event-container-link" target="_blank">Click Here for Help Choosing Your Competitive Event</a>
    </div>

    <div class="info-box-container">
        <a class="info-box" style="position: relative;">
            Registration Will Open After RLC
        </a>
    </div>

    <!--
    <div class="info-box-container">
        <a href="/slc/" class="info-box">
            SLC Qualifier List
        </a>
        <a href="/slc/" class="info-box">
            Straight to State Sign-Up Form
        </a>
        <a href="/slc/" class="info-box">
            RLC Qualified State Sign-Up Form
        </a>
    </div>
    -->

    <div class="info-container">
        <h1 class="info-title">About SLC</h1>
        <p class="info-description">
            At the State Leadership Conference, FBLA members can compete at a variety of competitive events, attend leadership workshops, and see the state officer elections. In addition to the events offered at the RLC, the SLC also includes straight-to-state events (see the list of competitive events below). Members who place in the top 4 for their event qualify for the National Leadership Conference. If members qualify for nationals in multiply events, they can only choose one to compete in at nationals.          </p>
    </div>

    <div class="info-container">
        <h1 class="info-title">Pricing & Dates</h1>
        <div class="info-list">
            <div class="info-list-item">
                Date: March 14-15, 2024
            </div>
            <div class="info-list-item">
                Pricing: TBD
            </div>
        </div>
    </div>

    <div class="info-container">
        <h1 class="info-title">Location</h1>
        <div class="info-list">
            <div class="info-list-item">
                Hyatt Regency Atlanta
            </div>
            <div class="info-list-item">
                Hyatt Regency Atlanta, 265 Peachtree St NE, Atlanta, GA 30303
            </div>
        </div>
    </div>

</body>
</html>
