---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'
import '../../styles/events.css'
---

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>

    <div>
        <div class="event-title">
            CALENDAR
        </div>
        <div class="divider-row">
            <hr class="title-divider"/>
        </div>
    </div>
    <div class="calendar-container">
        <iframe src="https://calendar.google.com/calendar/embed?src=93836710e9b6773e445f2fcd34447f1bf1610dca25ffdf7c5d6aa30c7a4eeb7e%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</body>
