---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'
import '../../styles/events.css'
---

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>
    <div>
        <div class="event-title">
            FALL LEADERSHIP CONFERENCE (FLC)
        </div>
        <div class="divider-row">
            <hr class="title-divider"/>
        </div>
    </div>

    <div class="find-event-container">
        <div class="find-event-container-title">Having Trouble Deciding Which Competitive Event To Do?​</div>
        <a href="https://storage.googleapis.com/articulate-courses/BAA%20Contributor/Choose%20Your%20Event%20(FBLA)%20-%20Storyline%20output/story.html" class="find-event-container-link" target="_blank">Click Here for Help Choosing Your Competitive Event</a>
    </div>
    
    <div class="info-box-container">
        <a href="/forms/fall-leadership/" class="info-box">
            Fall Leadership Conference Sign Up Form
        </a>
    </div>

    <div class="info-container">
        <h1 class="info-title">About FLC</h1>
        <p class="info-description">
            The 2024 overnight Two-Day Fall Leadership Conference for high school chapters will be held November 19-20 in Athens at the beautiful Classic Center.  You can expect a dynamic general session, informative leadership training workshops, the always thrilling Battle of the Chapters, the opportunity to participate in one of the world’s largest MONOPOLY® Tournaments, and many other activities.  
        <p/>
        <p class="info-description">
            Competitions: Monopoly Tournament, Open Testing Preview <br/><br/> High School Events:  Broadcast Journalism, Business Ethics, Client Service, Impromptu Speaking, Introduction to Social Media Strategy, Job Interview and Social Media Strategies        </p>
        <p/>
    </div>

    <div class="info-container">
        <h1 class="info-title">Pricing & Dates</h1>
        <div class="info-list">
            <div class="info-list-item">
                Dates: November 19 - 20, 2024
            </div>
            <div class="info-list-item">
                Pricing: 

            </div>
        </div>
    </div>

    <div class="info-container">
        <h1 class="info-title">Location</h1>
        <div class="info-list">
            <div class="info-list-item">
                The Classic Center, Athens
            </div>
            <div class="info-list-item">
                300 N Thomas St, Athens, GA 30601
            </div>
        </div>
    </div>
</body>
</html>
