---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'
import '../../styles/events.css'
import '../../styles/question.css'
import { Image } from 'astro:assets';

import FblaLogo from '../../images/fbla-logo.png'
import { IoClose } from "react-icons/io5";
---

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCHS FBLA</title>
</head>

<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>

    <div>
        <div class="event-title">
            OFFICER TEAM & ADVISORS 2024-25
        </div>
        <div class="divider-row">
            <hr class="title-divider"/>
        </div>
    </div>

    <div class="title-container">
        <h1 class="info-title-regular">Executive Council</h1>
    </div>

    <div class="team-container">
        <h1 class="team-title">President</h1>
        <div class="info-list">
            <div class="team-list-item">
                Ella Bell
            </div>
        </div>
    </div>

    <div class="exec-council">
        <div class="exec-council-box">
            <h1 class="team-title">Executive Vice President Operations and Technology</h1>
            <div class="info-list">
                <div class="team-list-item">
                    Yoseop Han
                </div>
            </div>
        </div>
        <div class="exec-council-box">
            <h1 class="team-title">Executive Vice President Finance, Marketing, and Membership</h1>
            <div class="info-list">
                <div class="team-list-item">
                    Heidi Huang
                </div>
            </div>
        </div>
        <div class="exec-council-box">
            <h1 class="team-title">Executive Vice President Community Service and Champion Chapter</h1>
            <div class="info-list">
                <div class="team-list-item">
                    Esha Sajjan
                </div>
            </div>
        </div>
    </div>

    <div class="team-container">
        <h1 class="team-title">Advisers</h1>
        <div class="info-list">
            <div class="team-list-item">
                Raymond Schenk, Katie Williams, and Russell Gray
            </div>
        </div>
    </div>

    <div class="title-container">
        <h1 class="info-title-regular">Georgia FBLA Officers</h1>
    </div>
    
    <div class="team-container">
        <h1 class="team-title">Georgia FBLA State North Metro Area Vice President</h1>
        <div class="info-list">
            <div class="team-list-item">
                Kaylin Lee
            </div>
        </div>
    </div>
    
    <div class="team-container">
        <h1 class="team-title">Region 9 President</h1>
        <div class="info-list">
            <div class="team-list-item">
                Lucy Liu
            </div>
        </div>
    </div>

    <div class="title-container">
        <h1 class="info-title-regular">Officers</h1>
    </div>
    
    <div class="team-container">
        <h1 class="team-title">Operations and Technology</h1>
        <div class="info-list">
            <div class="team-list-item">
                <u>
                    Vice Presidents
                </u>
            </div>
            <div class="team-list-item">
                Alexander Xu
            </div>
            <div class="team-list-item">
                Anne Gardezi
            </div>
            <div class="team-list-item">
                <u>
                    Committee Officers
                </u>
            </div>
            <div class="team-list-item">
                Aanya Faraz
            </div>
            <div class="team-list-item">
                Linbo Zhu
            </div>
            <div class="team-list-item">
                Dennis Xu
            </div>
        </div>
    </div>


    <div class="team-container">
        <h1 class="team-title">Finance, Marketing, and Membership</h1>
        <div class="info-list">
            <div class="team-list-item">
                <u>
                    Vice Presidents
                </u>
            </div>
            <div class="team-list-item">
                Rishab Subramaniyan
            </div>
            <div class="team-list-item">
                Jennifer Park
            </div>
            <div class="team-list-item">
                <u>
                    Committee Officers
                </u>
            </div>
            <div class="team-list-item">
                Ameeena Wang
            </div>
            <div class="team-list-item">
                Ishaan Kejriwal
            </div>
        </div>
    </div>

    <div class="team-container">
        <h1 class="team-title">Community Service and Champion Chapter</h1>
        <div class="info-list">
            <div class="team-list-item">
                <u>
                    Vice Presidents
                </u>
            </div>
            <div class="team-list-item">
                Suin Cho
            </div>
            <div class="team-list-item">
                Evangeline Huang
            </div>
            <div class="team-list-item">
                <u>
                    Committee Officers
                </u>
            </div>
            <div class="team-list-item">
                Junhui Park
            </div>
            <div class="team-list-item">
                Sree Sivakumar
            </div>
        </div>
    </div>

    <div class="team-container">
        <h1 class="team-title">Special Projects</h1>
        <div class="info-list">
            <div class="team-list-item">
                Lillie Wojewoda
            </div>
        </div>
    </div>

    <div class="team-container" style="position: relative;">
        <h1 class="team-title">Webmaster</h1>
        <div class="info-list">
            <div class="team-list-item">
                Moses Dong
            </div>
        </div>
        
        <button id="question-button" style="position:absolute; top: 0; right: 0;">
            <Image src={FblaLogo} width="100" height="100" alt="FBLA Logo" />
        </button>
    
        <script>
            const qButton = document.getElementById('question-button');
            const qClose = document.getElementById("question-close");
            qButton?.addEventListener("click", () => {
                const questionContainer = document.getElementsByClassName("fixed-question")[0];
                questionContainer.classList.toggle("hidden");
            })
            qClose?.addEventListener("click", () => {
                const questionContainer = document.getElementsByClassName("fixed-question")[0];
                questionContainer.classList.toggle("hidden");
            })
        </script>
    
        <div class="fixed-question hidden">
            <div id="question-close">
                <IoClose />
            </div>
            <div class="q-title">
                You've found a logo, answer this question!
            </div>
            <div class="q-question">
                5. Who are our chapter advisors?
            </div>
        </div>
    </div>
</body>
</html>
