---
import Runoffs from '../../components/events/runoffs.jsx';
import Navbar from '../../components/home/navbar';
import Footer from '../../components/home/footer';
---

<head>
    <title>Runoff Competitions | Johns Creek FBLA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet" />
</head>
<Navbar client:load />
<Runoffs client:load />
<Footer client:load />
